@import url('https://fonts.google.com/specimen/Kalam?query=kalam&sidebar.open=true&selection.family=Kalam:wght@300');

:root {
	--primary: #26211F;
	--black: #333333;
	--width-break: 600px;
}
* {
	box-sizing: border-box;
}

body {
	font-family: 'Kalam', cursive;
	margin: 0px;
	color: #333333;
	color: white;
}

div {
	display: block;
}

nav {
	background-color: var(--primary);
	text-align: center;
}
nav #navheader {
	font-size: 2rem;
	padding: 1rem;
}
main {
	margin: auto;
	padding: 1rem;
	max-width: var(--width-break);
}

textarea {
	color: red;
	box-sizing: border-box;
	display: block;
	width: 100%;
	min-height: 20vh;
	margin-top: 2rem;
	font-size: large;
	font-family: inherit;
}

button {
	background-color: var(--primary);
	border: none;
	margin: 1rem 0rem;
	padding: 1rem 2rem;
	font-family: 'Kalam', cursive;
	font-size: large;
	color: white;
	border-radius: 18px;
	cursor: pointer;
}
#output {
	box-sizing: border-box;
	width: 100%;
	min-height: 10vh;
	max-height: 20vh;
	overflow: scroll;
	border: 1px solid var(--black);
	color:red;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1rem;
	background-color: var(--primary);
}

footer p {
	max-width: var(--width-break);
	margin: auto;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;	
}

#para {
	text-align: center;
}
